<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>vip信息</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<link href="/css/content/detail.css" media="screen" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<div class="manage_container" style="width: 340px;">
		<form id="addForm" method="post" action="/vip/save">
			<input type="hidden" name="userVipViewBean.id" value="#(userVipViewBean.id ?? 0)" /> 
			<input type="hidden" name="userVipViewBean.uid" value="#(userVipViewBean.uid)" />
			<table style="width: 340px;">
				<tr>
					<td colspan="3" style="color: red; text-align: center;">#(errorMsg)</td>
				</tr>
				<tr>
					<td style="float: right;">平台:</td>
					<td><select name="userVipViewBean.vipPfType" id="vipPfType">
							#for(x : types)
							<option value="#(x.typeId)" 
								#(userVipViewBean.vipPfType== x.typeId ? "selected='selected'" : "")
								>#(x.typeDescr)</option>
							#end
					</select></td>
					<td style="color: red;">#(vipPfTypeMsg)</td>
				</tr>
				#if(userVipViewBean.id != 0)
				<tr>
					<td style="float: right;">结束时间:</td>
					<td colspan="2">
						#(userVipViewBean.endTime)
					</td>
				</tr>
				#end
				<tr>
					<td style="float: right;">增加时间:</td>
					<td><input name="userVipViewBean.periodNum"
						value="#(userVipViewBean.periodNum)" id="periodNum" type="text" />
						<select name="userVipViewBean.periodType" id="periodType">
							<option value="1">天</option>
							<option value="2" selected="selected">周</option>
							<option value="3">月</option>
							<option value="4">年</option>
					</select></td>
					<td style="color: red;">#(periodNumMsg)</td>
				</tr>
				<tr>
					<td style="float: right;">关注的老师:</td>
					<td><select name="userVipViewBean.teacherId" id="teacherId">
							#for(x : teachers)
							<option value="#(x.teacherId)" #(userVipViewBean.teacherId== x.teacherId ? "selected='selected'" : "")>#(x.teacherName)</option>
							#end
					</select></td>
					<td style="color: red;">#(teacherIdMsg)</td>
				</tr>
				<tr>
					<td style="float: right;">关注的分组:</td>
					<td><input name="vipGroup" value="0" id="vipGroup" type="text" />#(userVipViewBean.vipGroup)</td>
					<td style="color: red;">#(teacherIdMsg)</td>
				</tr>
				<tr>
					<td style="float: right;">发送内容类型:</td>
					<td>
					#for(x : kinds) 
					<label><input name="emailTypeArr" type="checkbox" value="#(x.kind)" 
							#if(emailTypeArr == null)
								#(for.first ? "checked='checked' " : "")
							#else
								#for(y : emailTypeArr)
							  		#(y==x.kind ? "checked='checked' " : "")
								#end
							#end
							 />
							#(x.descr) </label> 
					#end
					</td>
					<td style="color: red;">#(emailTypeMsg)</td>
				</tr>
				<tr>
					<td style="float: right;">是否发送短信:</td>
					<td><input name="userVipViewBean.isSendSms" value="1"
						type="radio" #(userVipViewBean.isSendSms== 1 ? "checked='checked' " : "")/>是
						<input name="userVipViewBean.isSendSms" value="0" type="radio"
						#(userVipViewBean.isSendSms== null || userVipViewBean.isSendSms==0 ? "checked='checked' " : "")
						/>否</td>
					<td style="color: red;">#(isSendSmsMsg)</td>
				</tr>
				<tr>
					<td style="float: right;">是否显示url:</td>
					<td><input name="userVipViewBean.isShowUrl" value="1"
						type="radio" #(userVipViewBean.isShowUrl== 1 ? "checked='checked' " : "")/>是
						<input name="userVipViewBean.isShowUrl" value="0" type="radio"
						#(userVipViewBean.isShowUrl== null || userVipViewBean.isShowUrl== 0 ? "checked='checked' " : "")
						/>否</td>
					<td style="color: red;">#(isShowUrlMsg)</td>
				</tr>
				<tr>
					<td style="float: right;">费用:</td>
					<td><input name="vipfee" value="0" id="vipfee" type="text" /></td>
					<td style="color: red;">#(vipfeeMsg)</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;"><button
							id="savebtn" type="submit">保存</td>
					<td></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>