<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>用户列表</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 
<link href="/css/content/detail.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div style="float: left;width: 100%;">
<a href="/vip/toAdd/#(uid)">添加</a>
</div>
	<div class="table_box">
	<table class="list">
		<tbody>
			<tr>
				<th width="15%">平台</th>
				<th width="15%">结束时间</th>
				<th width="15%">关注的老师</th>
				<th width="20%">发送内容类型</th>
				<th width="10%">是否发送短信</th>
				<th width="10%">是否显示url</th>
				<th width="15%">操作</th>
			</tr>
			
			#for(x : vipInfosPage.getList())
			<tr style="text-align:center;">
				<td>#(x.vipPf)</td>
				<td>#(x.endTime)</td>
				<td>#(x.teacherName)</td>
				<td>#(x.emailType)</td>
				<td>#(x.isSendSms == 1 ? "是" : "否")</td>
				<td>#(x.isShowUrl == 1 ? "是" : "否")</td>
				<td>
					<a href="/vip/delete?id=#(x.id)&uid=#(x.uid)">删除</a>
					&nbsp;&nbsp;<a href="/vip/toEdit/#(x.id)">修改</a>
				</td>
			</tr>
			#end
		</tbody>
	</table>
	#@paginate(vipInfosPage.pageNumber, vipInfosPage.totalPage, "/vip/list/" + uid + "?p=")
</div>
	
</body>
</html>