<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
<title>用户列表</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" /> 
<link href="/css/content/detail.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="table_box">
	<table class="list">
		<tbody>
			<tr>
				<th width="4%">id</th>
				<th width="10%">昵称</th>
				<th width="15%">创建时间</th>
				<th width="15%">电话</th>
				<th width="15%">邮箱</th>
				<th width="10%">邀请人</th>
				<th width="20%">会员老师</th>
				<th width="11%">操作</th>
			</tr>
			
			#for(x : usersPage.getList())
			<tr style="text-align:center;">
				<td>#(x.id)</td>
				<td>#(x.nickname)</td>
				<td>#(x.createTime)</td>
				<td>#(x.phoneNumber)</td>
				<td>#(x.email)</td>
				<td>#(x.inviterNickname)</td>
				<td>#(x.vipInfo)
					&nbsp;&nbsp;<a href="/vip/list/#(x.id)">详情</a></td>
				<td>
					<a href="/user/delete/#(x.id)">删除</a>
					&nbsp;&nbsp;<a href="/user/toEdit/#(x.id)">修改</a>
				</td>
			</tr>
			#end
		</tbody>
	</table>
	#@paginate(usersPage.pageNumber, usersPage.totalPage, "/user/list?p=")
</div>
	
</body>
</html>