@charset utf-8;
.manage_container{width:100%;margin:0 auto}
body .manage_container{font-size:12px;}
.container_head{width:100%;margin:0 auto}
.name{color: #333;font: 16px/28px "微软雅黑";}
.ctype{color: #333;font: 14px/22px "微软雅黑";}
.time{color: #999;font: 14px/22px "微软雅黑";}
.container_content{height:100%;width:100%;margin:0 auto}
.container_content p{color: #666;font: 15px/26px "微软雅黑"}
.pagination{float:right;font: 16px/28px "微软雅黑";padding:5px}