#define include()
<link rel="stylesheet" type="text/css" href="/plugins/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/plugins/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/plugins/eovaicon/icon.css">

<link rel="stylesheet" type="text/css" href="/eova/htmltag/eova_tag.css">
<link rel="stylesheet" type="text/css" href="/ui/css/common.css">
<link rel="stylesheet" type="text/css" href="/ui/eova/css/eova.css">

<script type="text/javascript" src="/ui/js/jquery.min.js"></script>
<script type="text/javascript" src="/ui/js/json2-min.js"></script>

<script type="text/javascript" src="/ui/js/common.js"></script>
<script type="text/javascript" src="/ui/js/string.js"></script>

<script type="text/javascript" src="/plugins/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/plugins/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/ui/easy/jquery.datagrid.js"></script>

<link rel="stylesheet" type="text/css" href="/plugins/jquery-easyui-portal/portal.css">
<script type="text/javascript" src="/plugins/jquery-easyui-portal/jquery.portal.js"></script>

<script type="text/javascript" src="/plugins/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/plugins/ajaxup/ajaxfileupload.js"></script>

<script type="text/javascript" src="/ui/easy/easy.min.js"></script>

<script type="text/javascript" src="/ui/eova/eova.min.js"></script>

<script type="text/javascript" src="/eova/htmltag/eova_tag.js"></script>
#end